# Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [3]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
#Series have labeled index unlike numpy arrays
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
#Can pass in numpy array just like a python list
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [6]:
#Note that passing when passing in a dictionary
#The keys will automatically become the series index
pd.Series(data=d)

a    10
b    20
c    30
dtype: int64

In [7]:
#Series can hold any type of data object
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

### Indexing a Pandas Series

In [8]:
ser1 = pd.Series([1,2,3,4], ['USA', 'Germany', 'USSR', 'Japan'])

In [9]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [10]:
ser2 = pd.Series([1,2,5,4], ['USA', 'Germany', 'Italy', 'Japan'])

In [11]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [12]:
ser1['USA']

1

In [13]:
ser1['USSR']

3

In [14]:
ser3 = pd.Series(data=labels)

In [15]:
ser3

0    a
1    b
2    c
dtype: object

In [16]:
ser3[1]

'b'

In [17]:
#Adding two series together will try to add by matching indexes
#Any Indexes in one series but not the other will result in NaN result
#Pandas and numpy will convert series to float (decimal)
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64